USE [master]
GO
/****** Object:  Database [AirWarCollege]    Script Date: 9/4/2017 7:13:20 PM ******/
CREATE DATABASE [AirWarCollege]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirWarCollege', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AirWarCollege.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AirWarCollege_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AirWarCollege_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirWarCollege].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirWarCollege]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[userName] [nvarchar](32) NOT NULL,
	[password] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Alumni]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumni](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Rank] [nvarchar](64) NOT NULL,
	[courseNumber] [nvarchar](50) NOT NULL,
	[startedAt] [date] NOT NULL,
	[endedAt] [date] NOT NULL,
	[Service] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Alumni] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Announcement]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[announcementText] [nvarchar](max) NOT NULL,
	[announcementDate] [date] NOT NULL,
	[expiresAt] [date] NOT NULL,
 CONSTRAINT [PK_Announcement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Commandants]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Commandants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Rank] [nvarchar](64) NOT NULL,
	[startedAt] [date] NOT NULL,
	[endedAt] [date] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Commandants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cyberAlert]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cyberAlert](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[cyberAlertText] [nvarchar](max) NOT NULL,
	[cyberAlertDate] [date] NOT NULL,
	[expiresAt] [date] NOT NULL,
 CONSTRAINT [PK_cyberAlert] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lecture]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[lectureTopic] [nvarchar](64) NOT NULL,
	[speakerName] [nvarchar](64) NOT NULL,
	[location] [nvarchar](64) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Lecture] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quote]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quote](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[quoteText] [nvarchar](max) NOT NULL,
	[expiresAt] [date] NOT NULL,
 CONSTRAINT [PK_Quote] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Study Material]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Study Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[uploaderName] [nvarchar](32) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[File] [varbinary](max) NULL,
 CONSTRAINT [PK_Study Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Synopsis]    Script Date: 9/4/2017 7:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Synopsis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[uploaderName] [nvarchar](50) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[File] [varbinary](max) NULL,
 CONSTRAINT [PK_Synopsis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([userName], [password]) VALUES (N'Jamal', N'abc123')
SET IDENTITY_INSERT [dbo].[Alumni] ON 

SET IDENTITY_INSERT [dbo].[Alumni] OFF
SET IDENTITY_INSERT [dbo].[Announcement] ON 

INSERT [dbo].[Announcement] ([ID], [announcementText], [announcementDate], [expiresAt]) VALUES (1, N'Announcemnent#1', CAST(N'2017-09-09' AS Date), CAST(N'2018-01-01' AS Date))
INSERT [dbo].[Announcement] ([ID], [announcementText], [announcementDate], [expiresAt]) VALUES (3, N'Announcemnent#2', CAST(N'2018-01-01' AS Date), CAST(N'2019-01-01' AS Date))
INSERT [dbo].[Announcement] ([ID], [announcementText], [announcementDate], [expiresAt]) VALUES (6, N'Announcemnent#4', CAST(N'2019-02-02' AS Date), CAST(N'2010-02-10' AS Date))
SET IDENTITY_INSERT [dbo].[Announcement] OFF
SET IDENTITY_INSERT [dbo].[Commandants] ON 

SET IDENTITY_INSERT [dbo].[Commandants] OFF
SET IDENTITY_INSERT [dbo].[cyberAlert] ON 

INSERT [dbo].[cyberAlert] ([ID], [cyberAlertText], [cyberAlertDate], [expiresAt]) VALUES (1, N'Alert!!!!!!!!!!!!!', CAST(N'2017-08-28' AS Date), CAST(N'2017-08-31' AS Date))
INSERT [dbo].[cyberAlert] ([ID], [cyberAlertText], [cyberAlertDate], [expiresAt]) VALUES (2, N'Alert#5', CAST(N'2019-01-02' AS Date), CAST(N'2020-01-02' AS Date))
SET IDENTITY_INSERT [dbo].[cyberAlert] OFF
SET IDENTITY_INSERT [dbo].[Lecture] ON 

INSERT [dbo].[Lecture] ([ID], [lectureTopic], [speakerName], [location], [date]) VALUES (1, N'MVC', N'Sohaib', N'Air War College', CAST(N'2018-01-01' AS Date))
INSERT [dbo].[Lecture] ([ID], [lectureTopic], [speakerName], [location], [date]) VALUES (3, N'ASP', N'Aaashir', N'DCS', CAST(N'2018-01-02' AS Date))
INSERT [dbo].[Lecture] ([ID], [lectureTopic], [speakerName], [location], [date]) VALUES (4, N'RazorSyntax', N'Sohaib', N'UBIT', CAST(N'2019-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Lecture] OFF
SET IDENTITY_INSERT [dbo].[Quote] ON 

INSERT [dbo].[Quote] ([ID], [quoteText], [expiresAt]) VALUES (1, N'Quote#1', CAST(N'2018-01-01' AS Date))
INSERT [dbo].[Quote] ([ID], [quoteText], [expiresAt]) VALUES (2, N'Quote#2', CAST(N'2018-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Quote] OFF
SET IDENTITY_INSERT [dbo].[Study Material] ON 

SET IDENTITY_INSERT [dbo].[Study Material] OFF
SET IDENTITY_INSERT [dbo].[Synopsis] ON 

SET IDENTITY_INSERT [dbo].[Synopsis] OFF
USE [master]
GO
